<div class="container-fluid">
    <div class="jumbotron" back-img-directive url="vm.convert(vm.interestName)">
        <div class="subscribe">
            <h2>{{vm.interestName}}</h2>
            <div style="text-align: center">
                <button class="btn btn-primary">Follow</button>
            </div>
        </div>
    </div>
    <div masonry>
        <div class="panel-group col-md-4 col-sm-6 masonry-brick" ng-repeat="story in vm.storyList.stories track by story.id">
            <div class="panel panel-default">
                <div class="panel-heading">{{story.title}}</div>
                <img ng-src={{story.iurl}} class="img-responsive center-block">
                <div class="panel-body">{{story.kwic}}</div>
            </div>
        </div>
    </div>
</div>


