<div class="container-fluid">
    <div class="jumbotron" back-img-directive url="vm.convert(vm.interestName)">
        <div class="subscribe">
            <h2>{{vm.interestName}}</h2>
            <div style="text-align: center">
                <button class="btn btn-primary" ng-click="vm.subscription()">{{vm.subscribe}}</button>
            </div>
        </div>
    </div>
    <div masonry>
        <!--TODO Fix the angular-masonry glitch-->
        <div class="masonry-brick panel-group col-md-4 col-sm-6" ng-repeat="story in vm.storyList.stories track by story.id">
            <div class="panel panel-default" ng-click="vm.popUp(story)">
                <div class="panel-heading">{{story.title}}</div>
                <img ng-src={{story.iurl}} class="img-responsive center-block">
                <div class="panel-body">{{story.kwic}}</div>
            </div>
        </div>
    </div>
</div>


