<div class="container" class="login-wrapper">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" ng-model="vm.username" placeholder="username" required autofocus>
            <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="vm.submit()">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot your password?
        </a>
        <a href="#" class="forgot-password">
            New User?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->