<div id="story-modal" class="container-fluid">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="vm.closeStory('ok')">&times;</button>
        <h4 class="modal-title text-center">{{vm.story.title}}</h4>
    </div>
    <div class="modal-body" style="max-height: inherit">
        <div class="panel-group col-md-6">
            <div class="panel panel-default">
                <img ng-src={{vm.story.iurl}} class="center-block img-responsive" style="max-height: 56vh">
                <a ng-href={{vm.story.url}}>
                    <div class="panel-body">{{vm.story.kwic}}</div>
                    <div class="panel-body">Click to go to page</div>
                </a>
            </div>
        </div>
        <div class="panel-group col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Nischay
                </div>
                <div class="panel-body">
                    Man this is awesome
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body form-inline">
                    <button class="btn btn-primary" style="float: right;" ng-click="vm.save()">Post</button>
                    <div style="overflow: hidden; padding-right: 10px">
                        <input type="text" class="form-control" placeholder="Comment" style="width: 100%" ng-model="vm.storyComment">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>