#search{
    display:block;
    text-align:center;
    margin-right: 5%;
}

.jumbotron{
    background-image: url('../img/starwars.jpg');
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.subscribe{
    display: inline-block;
    padding: 5% 5% 20%;
    background-color: rgba(245, 245, 220, 0.6);
    margin-bottom: 10%;
}
